<h1>오늘 막동 돈 내는 사람은?</h1>
<%= @say %>

<form action="/index3" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">1.</label>
    <input name="a"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">2.</label>
    <input name="b"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">3.</label>
    <input name="c"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">4.</label>
    <input name="d"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">5.</label>
    <input name="e"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">6.</label>
    <input name="f"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">7.</label>
    <input name="g"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">8.</label>
    <input name="h"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">9.</label>
    <input name="i"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">10.</label>
    <input name="j"type="content" class="form-control" id="exampleInputEmail1">
  </div>
  
  <button type="submit" class="btn btn-default">랜덤 뽑기</button>
</form>
